html, body {
  overflow: hidden; /* Hide scrollbars */
}

.app {
  height: 99vh;
  display: flex;
  flex-direction: column;
}

.top {
  flex: 0 0 auto;
  border-bottom: solid 1px var(--adm-color-border);
}

.body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

.content {
  padding: 20px;
}

.bottom {
  flex: 0 0 auto;
  border-top: solid 1px var(--adm-color-border);
  padding-bottom: 1%;
}